<div class="modal-overlay" id="modalOverlay">
  <div class="modal-content">
    <div class="button-grid">
          <label for="fecha">{{ diccionario[idioma()]['Seleccionáfechayhora'] }}</label>
          <input type="datetime-local" [(ngModel)]="fechaSeleccionada" />
          <label for="fecha">{{ diccionario[idioma()]['TipodeMesa'] }}</label>
          <ion-select [(ngModel)]="tipoMesa" name="tipo">
            <ion-select-option value="vip">{{ diccionario[idioma()]['Vip'] }}</ion-select-option>
            <ion-select-option value="estandar">{{ diccionario[idioma()]['Estandar'] }}</ion-select-option>
            <ion-select-option value="movilidad reducida">{{ diccionario[idioma()]['Movilidadreducida'] }}</ion-select-option>
          </ion-select>
          <label for="fecha">{{ diccionario[idioma()]['Cantidaddecomensales'] }}</label>
          <ion-input type="number" required name="cantidadComensales" [(ngModel)]="cantidadComensales"></ion-input>

        <div class="botones">
          <button (click)="confirmarReserva()">{{ diccionario[idioma()]['Confirmar'] }}</button>
        </div>
      </div>
    </div>
    
  </div>
    

<div class="back-button">
  <button (click)="volverFuncionalidad()">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </button>
</div>


@if (isLoading) {
  <div class="spinner-overlay">
    <div class="spinner-container">
      <img src="assets/icono.png" alt="Cargando..." class="spinning-logo">
      <p>{{ diccionario[idioma()]['Procesando'] }}</p>
    </div>
  </div>
}