.libro {
  height: 300px;           /* El tama침o de nuestra 'ventana' */
  overflow-y: scroll;      /* Permitimos deslizar arriba/abajo */
  scroll-snap-type: y mandatory; /* El im치n vertical obligatorio */
  background-color: red;
}
.pagina {
  height: 300px;           /* Cada p치gina mide lo mismo que la ventana */
  scroll-snap-align: start; /* El im치n se pega apenas empieza la carta */
}